$gris: rgb(35, 35, 35);
$landing: rgb(26, 26, 26);
$gold: #af762a;
$navback: #d9d6d4;
$navbox: #cecece;
$biobox: #e0dfdf;

$text: #474747;
$faded: #ababab;

$background: url(../../assets/backgrounds/grain.png);
$background-large: url(../../assets/backgrounds/grain-large.png);
$background-solid: #d8d5d4;

$background-le-bottom: url(../../assets/backgrounds/le-mobile-downgrain.jpg);
