.exit {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $faded;
  transition: color 1s;
  font-family: Helvetica Neue;
  font-weight: 100;
  font-size: 3em;
  background: none;
  bottom: 48px;
  z-index: 1;

  @include mobile {
    bottom: 96px;


  }

  @include fourk {
    font-size: 5em;
  }

  &:hover {
    color: $text;
  }
}

#edition-x {

  bottom: 2vh;


  @include mobile {
    bottom: 6vh;
  }

}